DATABASE_URL=postgres://postgres:dev@localhost:5432/tasks
PORT=8000
SUPABASE_URL=https://lypeeyqqpdqoiqhrdcvg.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5cGVleXFxcGRxb2lxaHJkY3ZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxMDY4MTYsImV4cCI6MjEwMzY4MjgxNn0._SKu6KQgCwfnw-QVfLlur42lH7rugfZy1UQz1TKCRcs